body {
  height: 100vh;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  display: block;
  place-content: center;
  place-items: center;
}

button{
  cursor: pointer;
  transition: transform .1s ease-in-out;
  border: none;
}

.main {
  position: relative;
  height: 80vh;
  aspect-ratio: 0,4862;
  transform-style: preserve-3d;
  perspective: 800px;
}

img{
  user-select: none;
  pointer-events: none;
}

.logo{
  width: 15%;
  height: auto;
  position: absolute;
  top: -3%;
  left: 42.5%;
}

/* background */
.bg-red-svg {
  height: 80vh;
}
.bg-blanco {
  width: 90%;
  height: 85%;
  background-color: white;
  position: absolute;
  top: 6.5%;
  left: 5%;
  border-radius: 3em;
  z-index: -1;
  transform-style: preserve-3d;
  transform: translateZ(-10px);
}

/* elementos negros */
.circulo_negro {
  height: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 0;
  top: 20%;
  transform: translateX(-50%);
}
.rectangulo_negro{
  height: 16%;
  width: 100%;
  position: absolute;
  top: 42%;
}

/* pantalla */
.content_canva {
  height: 80%;
  aspect-ratio: 4/5;
  border-radius: 2em;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;

}
.pantalla {
  height: 90%;
  width: 90%;
  border-radius: 1em;
  background-color: rgb(61, 61, 61);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -56%;
  margin-left: -45%;
}

/* lineas diagonales */
.container_diagonales{
  position: absolute;
  top: 70%;
  right: 15%;
}
.linea_diagonal{
  height: 1.5vh;
  aspect-ratio: 8/1;
  border-radius: 50em;
  transform: rotate(-20deg);
  margin-top: 8%;
}

/* botones de izquierda */
.boton_principal_izquierda {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -16%;
  margin-left: -15%;
  transform-style: preserve-3d;
}
.boton_principal_top, .boton_principal_bottom {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}
.boton_principal_top {
  clip-path: inset(0 0 58% 0 round 0);
}
.boton_principal_bottom {
  clip-path: inset(58% 0 0 0 round 0);
}
.circulo_negro_buton {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circulo_azul {
  height: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20%;
  margin-left: -18%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: translateZ(10px);
}
.boton_principal_top:active,
.boton_principal_bottom:active {
  transform: translateZ(0px);
}
.circulo_azul:active {
  transform: translateZ(5px);
}

/* botones de control */
.botones-control{
  height: 13%;
  width: 20%;
  position: absolute;
  right: 5.5%;
  top: 43.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5% 2%;
}
.botones-control button{
  background-color: #fafafa;
  border-radius: 5px;
  border: none;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  transform-style: preserve-3d;
  cursor: pointer;
}
.botones-control button img{
  position: absolute;
  height: 50%;
}
.up{
  grid-area: 1 / 2 / 2 / 3;
}
.down{
  grid-area: 2 / 2 / 3 / 3;
}
.left{
  border-radius: 19px 5px 5px 19px !important;
  grid-area: 1 / 1 / 3 / 2;
}
.right{
  grid-area: 1 / 3 / 3 / 4; 
  border-radius: 5px 19px 19px 5px !important;
} 
.up img{
  transform: rotate(-90deg);
}
.down img{
  transform: rotate(90deg);
}
.left img{
  transform: rotate(180deg);
}
.botones-control button:active {
  transform: translateZ(-3px);
}

/* button panel */
.button-panel{
  width: 25%;
  height: 8%;
  position: absolute;
  right: 3%;
  top: 27%;
  transform-style: preserve-3d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10% 2%;
}
.button-panel button{
  border-radius: 20em;
  transform-style: preserve-3d;
  transform: translateZ(10px);
  background-color: #ffffff;
} 
.buttonId{
}
.buttonCompare{
  background: linear-gradient(90deg, #ffffff 50%, #bdbdbd 50%);
}
.buttonRandom{

}
.buttonName{

}
.buttonLike{
  
}
.buttonExport{
  
}
.button-panel button:active {
  transform: translateZ(5px);
}





/* switches */
.container_switches{
  position: absolute;
  top: 70%;
  left: 17%;
}
.switcher{
  height: 3vh;
  aspect-ratio: 4.5/1;
  border-radius: 50em;
  transform: rotate(20deg);
  margin-top: 10%;
  position: relative;
  transform-style: preserve-3d;
}
.lever{
  height: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  left: 2%;
  top: 0.26vh;
  margin-top: -4%;
  margin-left: 5%;
  transition: left 0.3s ease;
  cursor: pointer;
}
.switcher.on .lever {
  left: calc(100% - 1em - 10%);
}


/* lights */
.lights{
  width: 5%;
  position: absolute;
  left: 21%;
  top: 15%;
  display: flex;
  z-index: 3;
}
.lights *{
  width: 25%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;

}
.light-red {
  background-color: #ff0000;
  box-shadow: 0 0 8px #ff0000;
  animation: blinkRed 5s infinite;
}

.light-yellow {
  background-color: #ffff00;
  box-shadow: 0 0 8px #ffff00;
  left: 25%;
  animation: blinkYellow 2s infinite;
}

.light-green {
  background-color: #00ff00;
  box-shadow: 0 0 8px #00ff00;
  left: 50%;
  animation: blinkGreen 3s infinite;
}


/* colores */
.black {
  background-color: #000000;
}
.green {
  background-color: #257425;
}
.red {
  background-color: #A60000;
}
.brown{
  background-color: #350000;
}
.white {
  background-color: #ffffff;
}
.blue {
  background: #3F5EFB;
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgb(155, 171, 255) 100%);
}
.yellow{
  background-color: #E8FCBA;
}



.pre-level-parax{
  transform-style: preserve-3d;
  transform: translateZ(10px);
}
.first-level-parax{
  transform-style: preserve-3d;
  transform: translateZ(20px);
}


/* animations */
@keyframes blinkRed {
  0%, 40% {
    opacity: 1;
  }
  50%, 90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinkYellow {
  0%, 45% {
    opacity: 1;
  }
  50%, 95% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinkGreen {
  0%, 40% {
    opacity: 1;
  }
  50%, 90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
